<h2>Thank You!</h2>

<div class="panel panel-default">
  <div class="panel-body">
    <p>Thanks for getting in touch.  We have recieved your message and will be in touch shortly. <br>Cheers!</p>
    <br>
    <div class="col-xs-5"></div>
    <div class="col-xs-2">
      <%= link_to 'Return Home', root_path, class: 'btn btn-default center-block' %>
    </div><!--col-->
    <div class="col-xs-5"></div>
  </div><!--panel-body-->
</div><!--panel-->
