<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Incoming Message</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
      p {font-family: "Alef", Tahoma, sans-serif; color: #50514F;}
    </style>
  </head>

<body>

  <table style="margin: 20px; padding: 0; width= 100%;">
    <tbody allign="centre" width="600">
      <tr>
        <td align="center" bgcolor="#70bbd9" style="padding: 40px 0 30px 0;">
          <img src="https://www.finedininglovers.com/stories/all-about-passion-fruit/" alt="Frankie's Frukt" width="300" height="230" style="display: block;" />
        </td>
      </tr>
      <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
       <table cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td><h2>Welcome!</h2></td>
        </tr>
        <tr>
          <td><p>Hej <%= @user_first_name %>
        </tr>
        <tr>
          <td><p>Thanks for your order of <%= @product %> with <%= @appname %>.  Your order will be delivered on the next working day.</p></td>
        </tr>
        <tr>
          <td><p><strong>Enjoy! <br>Frankie</strong></p></td>
        </tr>

        <tr style="background-color: #0082B4; text-align: center;">
          <td>
          <p>&copy; Frankie's Frukt &<br>Michal Garvey 2017</p>
          </td>
        </tr>

      </tbody>
    </table>

</body>
</html>
