<div class="row">
  <% @orders.each do |order| %>
    <div class="col-sm-6 col-md-3">
      <h1>
        Order # <%= order.id %>:
        <%= link_to order.product.name, order.product %>
      </h1>
      <p><strong>SEK <%= order.product.price %></strong></p>
    </div><!-- /col-->
  <% end %>
</div><!--row-->
