<div class="create">
  <div class="panel panel-default">
    <div class="panel-body">
      <p>Thank you for your purchase.  You will recieve a receipt via email shortly. <br>Cheers!</p>
      <br>
      <div class="col-xs-5"></div>
      <div class="col-xs-2">
        <%= link_to 'Return to Shop', products_path, class: 'btn btn-default center-block' %>
      </div><!--col-->
      <div class="col-xs-5"></div>
    </div><!--panel-body-->
  </div><!--panel-->
</div><!--create-->
