// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2, h1 {
  padding-top: 80px;
}


input {
  background-color: #93B7BE;
  color: #50514F;
  padding: 0;
  border: 0;
  border-radius: 0.3em;
  width: 100%;
}

textarea {
  background-color: #93B7BE;
  color: #50514F;
  padding: 0;
  border: 0;
  border-radius: 0.3em;
  width: 100%;
}

label {
  color: #0082B4;
  font: verdana, arial, helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
}

.row {
  margin: 10px 80px;
}

.form-control {
  background-color: #93B7BE;
  color: #50514F;
  width: 100%;
}
