// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com//

h1 {
	font-family: "Alef", Tahoma, sans-serif;
	color: #0082B4;
	text-align: center;
	margin-top: 80px;
	margin-bottom: 30px;
	font-size: 48px;
	text-transform: uppercase;
}

h2 {
	color: #93B7BE;
	font-family: "Alef", Tahoma, sans-serif;
	text-align: center;
	margin: 40px 0;
}

body {
	background-image: image-url("background.jpg");
}

.navbar {
	background-color: #424753;
	font-family: Tahoma;
	text-transform: uppercase;
	border: 0;
	letter-spacing: 2px;
}

.navbar-inverse .navbar-nav>li>a {
	color: #D7DAE5;
}


.navbar-inverse .navbar-nav>li>a:hover {
	color: #0082B4;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #D7DAE5;
}

a {
	color: #50514F;
}


a:hover {
	color: #0082B4;
}

.projectName {
	font-size: 25px;
	margin-top: 5px;
	margin-bottom: 10px;
	margin-left: 30px;
	letter-spacing: 3px;
	font-family: 'Cookie', cursive;
	color: #0082B4;
	padding-top: 20px;
	text-transform: none;
	font-weight: 800;
	font-size: 55px;
	letter-spacing: 7px;
}

footer {
	text-align: center;
	color: #50514F;
	background-color: #0082B4;
	font-weight: 800;
	height: 80px;
	bottom: 0px;
	left: 0px;
	width: 100%;
	margin-top: 50px;
}

.footer-copyright p {
	padding-top: 22px;
}

p {
	margin: 0 50px;
}

.contactpage p {
	text-align: center;
}



a:visited {
    color: #0082B4;
	}

	.projectName:hover {
	    color: #0082B4;
		}


.panel {
	background-color: none;
}

.nav>form {
	margin-right: 15px;
	margin-bottom: 10px;
}

.nav>li>a {
	padding: 25px 15px;
}

html, body {
  height: 100%;
  margin: 0;
}

.content {
  min-height: 100%;
}
.content-inside {
	padding: 20px;
  padding-bottom: 50px;

}

.carousel-inner img {
	width: 40%;
	margin: 0 30%;
}

.alert-info {
	margin-top: 150px;
	background-color: #0082B4;
	color: #D7DAE5;
	font-weight: 800;
}


.navbar-inverse .navbar-toggle {
  border-color: #424753;
}

.navbar-inverse .navbar-toggle:hover {
  background-color: #424753;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  background-color: #0082B4;
}

.button .navbar-toggle {
	color: pink;
}


.projectName a:hover {
	background-color: #424753;
}


#contact-submit-btn, #welcome-back-btn, #sign-up-btn, #update-btn, #cancel-btn {
	width: 30%;
	margin: auto;
}

.row {
    margin: 0;
}

em {
	color: #0082B4;
}

.carousel-control:hover {
	background-color: transparent;
	color: #0082B4;
}




.search {
	padding: 17px 0;
}

.search-btn {
	max-width: 50%;
	margin: 0 25%;
	margin-top: 1px;
}
