<div class="col-sm-6 col-md-3">
  <% if product.image_url %>
      <%= link_to image_tag(product.image_url, class: "img-responsive thumbnail-image", size: '300x300'), product %>
  <% end %>
  <a href="#">
    <h3 style="text-align: center;">
      <%= link_to product.name, product %>
    </h3>
  </a>
  <p style="text-align: center;">
    <strong>Kr
      <%= product.price %>
    </strong>
  </p>
</div>


<!-- #{@product.name} -->
