<div class="col-sm-6 col-md-3">
  <a href="#"><h2><%= link_to product.name, product %></h2></a>
  <% if product.image_url %>
    <%= link_to image_tag(product.image_url, class: "img-responsive", size: '300x300'), product %>
  <% end %>
  <p style="text-align: center;"><strong>SEK<%= product.price %></strong></p>
</div>
